body {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 1rem;;
}
header {
    padding: 2rem;
    border-bottom: 0.2rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#posts {
    display: grid;            
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.post {
    padding: 1.5rem;
    border: 0.2rem solid gray
}
aside {
    width: 25vw;
    padding: 1.5rem;
    margin-right: 2vw;
}
footer {
    padding: 1.5rem;
    border-top: 0.2rem;
    text-align: center
}
h1 {
    padding: 2.5rem
}
section {
    margin: 2vw
}
aside{
    font-size: 1em
}
/* 태블릿 (최대 1023px) */
@media screen and (max-width: 1023px) {
    body {
        max-width: 90vw;
    }
    #posts {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    nav ul {
        justify-content: space-around;
    }
    aside {
        width: 30vw;
        padding: 1rem;
        margin-right: 1vw;
    }
}
@media screen and (max-width: 767px){
        body {
        max-width: 100%;
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
       #posts {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    aside {
        width: 100%;
        margin: 1rem;
    }
}